{% extends 'base.html' %}

{% block head %}
<title>Blog</title>
{% endblock %}

{% block body %}
	<h1 class="text-center">Blog</h1>
	<br>
	<p class="text-body fs-4 fw-normal mx-3">
		<ul class="text-body fs-4 fw-normal mx-3">
			<!-- 2 -->
			<li>20.03.23 | <b>New Telegram bot. </b><a href="{{ url_for('blog_entry', post='2') }}">Link</a> </li>
			<!-- 1 -->
			<li>25.08.22 | <b>What is GIT and how to use it. </b><a href="{{ url_for('blog_entry', post='1') }}">Link</a> </li> 

		</ul>
	</p>
	<p class="text-body fs-4 fw-normal mx-3">
		Here are some items:
		<ul class="text-body fs-4 fw-normal mx-3">
			{% for name in list_example %}
			<li>{{ name }}</li>
			{% endfor %}
		</ul>
	</p>
{% endblock %}