{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="container text-bg-light p-3">
	<h1 class="text-center">About Me</h1>
	<br>
	<p class="text-body fs-4 fw-normal mx-5">My name is Evgenii Zorin. Having recently graduated with an MSc degree in Biotechnology, I 
		specialise in <b>Data Science</b>, <b>Statistical Programming</b>, and <b>Machine Learning</b>. Additionally, I do various programming tasks in Python.</p>
	<figure class="mb-4 text-center">
		<!-- <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/1.jpg" alt="image1"> -->
		<!-- <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/2.jpg" alt="image2"> -->
		<!-- <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/3.jpg" alt="image3"> -->
		<img src="{{url_for('static', filename='image1.jpg')}}" alt="image1" class="img-fluid rounded">
	</figure>
	<section class="mb-5">
		<p class="text-body fs-4 fw-normal mx-5">Key skills and proficiencies:
			<ul class="text-body fs-4 fw-normal mx-5">
				<li><i>Programming languages:</i> <b>Python</b>, <b>Bash</b>, <b>SQL</b>, R, basic HTML</li>
				<li><i>Data Science</i>: theoretical and practical knowledge of both <b>Descriptive</b> and <b>Inferential Statistics</b> (t-tests, 
					Mann-Whitney U test, correlation analysis, distribution normality tests)</li>
				<li><i>Machine Learning:</i> I have excellent understanding and applications of various ML algorithms in Supervised (Regression, Classification tasks) and Unsupervised 
					(Clustering, dimensionality reduction) ML fields. Additionally, I am familiar with basic techniques in NLP and DL.</li>
				<li><i>Concepts:</i> I have excellent experience of version control with <b>Git and Github</b>; understanding of <b>Data Structures and Algorithms</b></li>
			</ul>
		</p>
		<p class="fs-4 mb-4 mx-5">
			I am only a beginner in HTML and web development, so this website 
			still has lots of improvements to be made. Be sure to check out my projects and 
			blog entries in my blog 
			or <a href="{{url_for('download_file')}}">download my CV</a>.
		</p>
		<p class="text-body fs-4  mx-5">Hope you find my website interesting!</p>
			<p>&nbsp</p>
	</section>
</div>
{% endblock %}
