{% extends 'base.html' %}

{% block head %}
<title>Portfolio</title>
{% endblock %}

{% block body %}
<div class="page">
	<h1>Portfolio</h1>
	<p>Here i'll show off my works, with links to code on Github.</p>
	<div class="portfolio_block">
		<p class="portfolio_title">Machine Learning</p>
		<p class="portfolio_item">Linear Regression - Monkeys Shakespeare.</p>
		<p class="portfolio_item">Regression - project in predicting health cost based on several features, such as feature1, feature2, and feature3.</p>
		<p class="portfolio_item">Classification - project to classify something.</p>
	</div>
	<div class="portfolio_block">
		<p class="portfolio_title">Math</p>
		<p class="portfolio_item">Math project 1</p>
		<p class="portfolio_item">Math project 2</p>
	</div>
	<p>&nbsp</p>
</div>
{% endblock %}
